@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary:  #0A0118;
  --color-primary-light:   #19022D;
  --color-secondary: #FF00F5;
  --color-card-1: #A33FF8;
  --color-card-2:  #C400FE;
  --color-text: #F9F8FC;
  --primary-orange: #ED642B;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-primary);
  scroll-behavior: smooth;
}

/* the global styles */
.primary-bg {
  background-color: var(--color-primary);
}
.primary-bg-light {
  background-color: var(--color-primary-light);
}
.secondary-bg {
  background-color: var(--color-secondary);
}
.card-1-bg {
  background-color: var(--color-card-1);
}
.card-2-bg {
  background-color: var(--color-card-2);
}
.text-bg {
  color: var(--color-text);
}

.primary-color {
  color: var(--color-primary);
}
.primary-color-light {
  color: var(--color-primary-light);
}
.secondary-color {
  color: var(--color-secondary);
}
.card-1-color {
  color: var(--color-card-1);
}
.card-2-color {
  color: var(--color-card-2);
}
.text-color {
  color: var(--color-text);
}


/* the layout width */
.custom-container {
  width: 100%;
  padding: 0px 10px;
  /* border-left: 5px solid rgb(255, 255, 255); */
  /* border-right: 5px solid rgb(255, 255, 255); */
}

@media (max-width: 640px) {
  .custom-container {
      max-width: 100%;
      padding: 0 10px;
      margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .custom-container {
      max-width: 750px;
      margin: 0 auto;
  }
}


@media (min-width: 1024px) {
  .custom-container {
      max-width: 980px;
      margin: 0 auto;
  }
}

@media (min-width: 1204px) {
  .custom-container {
      max-width: 1300px;
      margin: 0 auto;
  }
}

.ant-upload-wrapper.ant-upload-picture-card-wrapper{
  width: fit-content !important;
}

