@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary:  #0A0118;
  --color-primary-light:   #19022D;
  --color-secondary: #FF00F5;
  --color-card-1: #A33FF8;
  --color-card-2:  #C400FE;
  --color-text: #F9F8FC;
  --primary-orange: #ED642B;
}

/* the global styles */
.primary-bg {
  background-color: var(--color-primary);
}
.primary-bg-light {
  background-color: var(--color-primary-light);
}
.secondary-bg {
  background-color: var(--color-secondary);
}
.card-1-bg {
  background-color: var(--color-card-1);
}
.card-2-bg {
  background-color: var(--color-card-2);
}
.text-bg {
  color: var(--color-text);
}

.primary-color {
  color: var(--color-primary);
}
.primary-color-light {
  color: var(--color-primary-light);
}
.secondary-color {
  color: var(--color-secondary);
}
.card-1-color {
  color: var(--color-card-1);
}
.card-2-color {
  color: var(--color-card-2);
}
.text-color {
  color: var(--color-text);
}

/* transitions.css */
.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* animations.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}



/* the layout width */
.custom-container {
  width: 100%;
  padding: 0px 10px;
  /* border-left: 5px solid black;
  border-right: 5px solid black; */
}

@media (min-width: 640px) {
  .custom-container {
      max-width: 580px;
      padding: 0 10px;
      margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .custom-container {
      max-width: 750px;
      margin: 0 auto;
  }
}


@media (min-width: 1024px) {
  .custom-container {
      max-width: 980px;
      margin: 0 auto;
  }
}

@media (min-width: 1204px) {
  .custom-container {
      max-width: 1300px;
      margin: 0 auto;
  }
}


.nav-bar {
  padding: 15px 10px;
}
