

/* .gradient{
  background: linear-gradient(180deg, #A33FF8 22.5%, rgba(255, 255, 255, 0.7) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
/* .bg-gradient {
  background: linear-gradient(180deg, #A33FF8 22.5%, rgba(255, 255, 255, 0.7) 100%);
} */


/* Nav bar */

.nav-bar {
  padding: 15px 10px;
}

.nav-border {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-image: linear-gradient(to right, #ffffff00, #ffffff59, #ffffff59, #ffffff00) 1;
}

.Nav-list {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  transition: all 0.3s ease;
  color: #fff;
}
.unactive-nav{
  opacity: 0.8;
  -webkit-text-stroke: 1px #fff;

}
.active-nav {
  opacity: 1;
  color: #fff;
  filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff) drop-shadow(0 0 30px #fff);
}

.harmburger {
  display: none;
  cursor: pointer;
}

.harmburger .line {
  width: 25px;
  height: 3px;
  background-color: #A33FF8;
  margin: 5px;
  transition: all 0.3s ease;
}

.harmburger-active .line {
  width: 25px;
  height: 3px;
  background-color: #A33FF8;
  margin: 5px;
  transition: all 0.3s ease;
}

.harmburger-active .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.harmburger-active .line:nth-child(2) {
  opacity: 0;
}
.harmburger-active .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (min-width: 1024px) {
  .nav-bar {
    padding: 15px 2.5rem;
  }
}
@media (max-width: 768px) {
  .harmburger {
    display: block;
  }
  .responsive-hide,
  .responsive{
    display: none;
  }
}

.NavCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  position: absolute;
  top: 50px;
  right: 50px;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 100;
  background-color: #ffffff3a;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  border-radius: 10px;
  transform: translateX(0);
}




/* select filed in core team year */
/* Hide the default arrow and add new*/
/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 1.5rem;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  padding: 5px 10px;
  position: relative;
}

select::after {
  content: '\25BC'; 
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  color: #666;
  font-size: 12px;
}

select option:checked {
  background-color: #ddd;
} */
/* Tooltip Styles */
.intern-popup {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: -100px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.intern-card:hover .intern-popup {
  visibility: visible;
}

/* Other styles remain the same */
